.grid-container {
    display: grid;
    grid-template-columns: 1fr;
  }

html{
    background-image: linear-gradient(rgba(187, 14, 14, 0.952), rgba(206, 1, 1, 0.685));
}

.titleAndSubtitle{
    text-transform: uppercase;
    text-shadow: 10em;
    text-align: center;
}

.ArticleSection{
    color: black;
    grid-column-start: 1;
    grid-column-end: 3;
}

.Story{
    padding: 3px;
    outline: solid;
    outline-color: black;
}

.SportsStories{
    grid-column-start: 1;
    grid-row-start: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 1em;
}

.BusinessStories{
    grid-column-start: 1;
    grid-row-start: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 1em;
}

.EntertainmentStories{
    grid-column-start: 1;
    grid-row-start: 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 1em;
}

.TravelStories{
    grid-column-start: 1;
    grid-row-start: 4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 1em;
}

