.grid-container {
    display: grid;
    grid-template-columns: 1fr;
  }

html{
    background: rgba(68, 241, 16, 0.603);
}

a{
    font-weight: bold;
}

a:link{
    color: blue;
}

a:visited{
    color: blue;
}

figcaption{
    font-style: italic;
    text-align: left;
}


.titleAndSubtitle{
    text-transform: uppercase;
    text-shadow: 10em;
    text-align: center;
    border-bottom: thick;
    border-bottom-style: solid;
}

.ArticleSection{
    color: black;
    grid-column-start: 1;
    grid-column-end: 3;
}

.Story{
    padding: 3px;
    outline: solid;
    outline-width: 2px;
    outline-color: black;
    text-align: center;
    box-shadow: 5px;
}

.SportsStories{
    grid-column-start: 1;
    grid-row-start: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 1em;
    outline: solid;
    outline-color: rgba(255, 127, 127, 0.473);
    padding: 10px;
    box-shadow: 10px;
}

.BusinessStories{
    grid-column-start: 1;
    grid-row-start: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 1em;
}

.EntertainmentStories{
    grid-column-start: 1;
    grid-row-start: 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 1em;
}

.TravelStories{
    grid-column-start: 1;
    grid-row-start: 4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 1em;
}

